* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,0.9);
}
a:active, a:focus {
	outline: 0;
}
.main, .page-footer {
  padding-left: 280px;
}
.main {
	min-height: 598px;
}
.container {
	width: 100%;
	max-width: 100%;
	padding: 0 15px;
}

/*--- Side Nav ------------------------------------------------------------------------------*/

.side-nav.fixed li.logo {
	height: 48px;
    text-align: center;
    background-color: #232e3d;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.side-nav.fixed li.logo a {
	display: block;
	padding: 7px;
}
.side-nav.fixed li.logo img {
	width: 110px;
}

.side-nav.fixed > li:last-child {
	margin-bottom: 50px;
}

.side-nav.fixed li a {
    font-size: 16px;
    padding: 0 15px;
    height: auto;
    line-height: 48px;
}

.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 15px;
}
.side-nav li > a i, .side-nav li > a > [class^="mdi-"], 
.side-nav li > a li > a >[class*="mdi-"], .side-nav li > a i.material-icons {
	margin-right: 5px;
	font-size: 20px;
}
.side-nav .collapsible-header i {
	font-size: 16px;
	margin-right: 5px;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 43px;
}
.side-nav .icon {
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}
.side-nav li.active {
	background-color: #dd3004;
}
.side-nav li.active > a,.side-nav li.active > a i {
	color: #fff;
}
.side-nav.fixed li:not(.logo) a:hover, .side-nav .collapsible-header:hover, 
.side-nav.fixed .collapsible-header:hover {
	background-color: #dd3004;
	color: #fff;
}
.side-nav.fixed li a:hover i, .side-nav .collapsible-header:hover i, .side-nav.fixed .collapsible-header:hover {
	color: #fff;
}
/*--- End Nav ------------------------------------------------------------------------------*/
/*--- Header ------------------------------------------------------------------------------*/
.header {
	padding: 7px;
	height: 58px;
	background-color: #232e3d;
}
.header .container {
	padding: 0;
}
.header .top-nav {
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	padding: 4px;
}
.header .top-nav i {
	color: #fff;
	font-size: 33px;
}

.header .btn-nav-desktop {
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	padding: 4px;
}
.header .btn-nav-desktop i {
	color: #fff;
	font-size: 33px;
}
.admin-menu {
	float: right;
	margin: 0;
}
.admin-menu > li {
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	
}
.admin-menu > li > a {
	display: block;
	color: #fff;
	padding: 12px 7px;
}
.admin-menu > li a i {
	margin-right: 3px;
}
.admin-menu .dropdown-content {
	background-color: #2a374a;
}
.admin-menu .dropdown-content li>a, .dropdown-content li>span {
	color: #fff;
}
.admin-menu .dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
	background-color: #dd3004;
}
.dropdown-content li > a > i {
	margin: 0 5px 0 0;
	font-size: 18px;
}
.admin-menu > li:hover > a {
	color: #dd3004;
}
/*--- End header ------------------------------------------------------------------------------*/
/*--- Footer ----------------------------------------------------------------------------------*/
.page-footer {
	background-color: #fff !important;
	border-top: 1px solid #e8e8e8;
	padding-top: 0;
}
.page-footer .footer-copyright  {
	color: #444;
}
/*--- End footer ------------------------------------------------------------------------------*/
.main .container.body {
	padding: 15px 30px;
}


input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
	color: #dd3004;
}
input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #dd3004;
	-webkit-box-shadow: 0 1px 0 0 #dd3004;
	box-shadow: 0 1px 0 0 #dd3004;
}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #dd3004;
    border-bottom: 2px solid #dd3004;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #dd3004;
    background-color: #dd3004;
    z-index: 0;
}